* {
  margin: 0;
  padding: 0;
}

:root {
  --sky_blue: #66a6ff;
  --cornflower_Blue: #0970BF;
  --electric_blue: #0D92E5;
}


body {
  font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}
table tr td,
table tr th {
  border: 1px solid #0072bc;
  padding: 2px;
}

.container.nav-closed .sidebar,
.container.nav-closed .header-logo {
  width: 0;
}

.loading{
  position: absolute;
  top: 50vh;
  left: 50%;
}

.spinner{
  display: block;
  position: relative;
}
.spinner::after {
  content: '.....';
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
}

.spinner.smooth::after {
  border-top: 4px solid #0970BF;
  border-left: 4px solid #0970BF;
  border-right: 4px solid rgba(255, 255, 255, 0.0);
  animation: spinner .6s linear infinite;
}
@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}